/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags
/app/webroot/files/
/app/webroot/assets/.sass-cache/
/app/webroot/coverfiles/
/app/Uploads/*
/app/Config/core.php
/app/Config/database.php
/app/Config/email.php
/logs
