/* Typography */
body, p {
	font-size: 14px;
	line-height: 20px;
	font-family: $primary-font, sans-serif;
}
h1, h2 {
	padding: 0;
	margin: 0;
}
h1 {
	margin-bottom: 10px;
}
h2 {
	margin: 0;
	padding: 0;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 2.25em;
	font-weight: 400;
	border-bottom: 1px #dfdfdf solid;
	margin-bottom: 12px;
	line-height: 1em;
}
h3 {
	margin: 0;
	padding: 0;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 2.25em;
	font-weight: 400;
	border-bottom: 1px #dfdfdf solid;
	margin-bottom: 12px;
	line-height: 1em;
	small {
		
	}
}

h4 {
	font-size: 1.6em;
	line-height: 1em;
	font-weight: 400;
}

a:hover {
	text-decoration: none;
}

a {
	.black {
		color: #000;
	}
}

a, a:hover, a:visited, a:link, a:active {
	i {
		color: #000;
		font-decoration: none;
		font-size: 14px;
	}
}

/* List Formatting */
ol {
	li {
		margin-top: 16px;
		margin-bottom: 20px;
	}
	ul {
		margin-top: 10px;
		margin-bottom: 10px;
		li {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}

ul {
	
}