@import url('https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,700|Roboto+Slab|Droid+Serif');
@import "compass/reset";
@import "compass/css3";
@import 'resources/_bootstrap.scss';
@import 'resources/_mixins.scss';
@import 'resources/_settings.scss';
@import 'resources/_typography.scss';
@import 'resources/_primary.scss';

/* Primary Elements */
.header {
	margin-bottom: 20px;
	border-bottom: 1px #dedede solid;
}

.sidebar.well {
	margin-top: 48px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 6px;
	padding-bottom: 6px;
}