.stafflist {
	margin-left: 50px;
}
.staff {
	text-align: center;
	height: 190px;
	.thumb {
		text-align: center;
		h5 {
			margin: 0;
			a {
				text-decoration: none;
			}
			a:hover {
				text-decoration: none;
			}
		}
		border: 1px #ccc solid;
		padding: 6px;
		margin-top: 12px;
		background-color: #dfdfdf;
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		font-size: 72px;
		line-height: 108px;
		font-weight: 700;
		color: #aaa;
	}
}