/* Staff Bulletin */
.item.active {

}
.note {
	background-image: url('../images/note.jpg');
	height: 275px;
	margin: 0;
	padding: 0;
	width: 275px;
}

.note-inner {
	@include center;
	font-family: 'Handlee', sans-serif;
	position: relative;
	top: 50px;
	left: 20px;
	width: 230px;
	-vebkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
}

.bulletin-text {
	@include center;
	position: relative;
	top: 75px;
	left: -30px;
}

.note-inner p {
	font-size: 180%;
	font-weight: 700;
	line-height: 2;
}

/* Searches */
.searches {
	text-align: center;
	.search {
		margin-top: 24px;
		input[type="text"] {
			font-size: 12pt; 
			width: 90%; 
			height: 22px;
		}
		.searchProvider {
			display: inline;
		}
	}
}