/* Primary Elements */
html {
	background-color: #121212;
}

body {
	background-color: rgb(245, 245, 245);
	margin: 0;
}

footer {
	@include center;
	background-color: #1d1d1d;
	font-size: 0.8em;
	line-height: 1em;
	width: 100%; 
	min-height: 200px;
	margin: 0;
	margin-top: 32px;
	padding-top: 16px;
	padding-bottom: 16px;
	font-weight: 400;
	color: #fff;
	p {
		color: #fff;
		font-weight: 400;
		a, a:link, a:visited, a:active, a:hover {
			color: #fff;
			text-decoration: none;
		}
		a:hover {
			color: #BD1527;
		}
		text-shadow: 0 0 4px #000;
	}
	.lower {
		margin-top: 30px;
	}
	ul.footer-nav {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			display: inline;
			font-size: 14px;
			font-weight: 400;
			margin-left: 12px;
			a, a:link, a:visited, a:active, a:hover {
				font-weight: 400;
				font-size: 14px;
				color: #fff;
				text-shadow: 0 0 4px #000;
				text-decoration: none;
			}
			a:hover {
				color: #BD1527;
			}
		}
	}
	h1 {
		text-shadow: 0 0 4px #000;
		margin: 0;
		margin-top: 16px;
		padding: 0;
		font-size: 32px;
		line-height: 1em;
		font-weight: 400;
		margin-bottom: 8px;
		a, a:link, a:active, a:visited, a:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	h2 {
		text-shadow: 0 0 4px #000;
		border-bottom: 0;
		margin: 0;
		padding: 0;
		margin-bottom: 16px;
		position: relative;
		right: 20px;
		line-height: 1em;
		font-family: $primary-font, serif;
		font-weight: 400;
		font-size: 24px;
		color: #ddd;
		a, a:link, a:active, a:visited, a:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}


/* Primary Classes */
.wrapper {
	width: ($container-width + ($container-padding * 2));
	margin-left: auto;
	margin-right: auto;
}
.main-container {
	@include box-shadow(0 0 2px 1px #ccc); 
	@include left;
	width: ($container-width + ($container-padding * 2));
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	padding: 60px;
	padding-top: 40px;
	background: #fff;
	z-index: 1;
}

.container {
	width: 100%;
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: rgb(240, 240, 240);
	padding: 16px;
	width: 100%;
	color: #222;
	.container {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}
	.logo {
		width: auto;
		float: left;
	}
	.title {
		width: auto;
		float: left;
		padding-left: 20px;
	}
	a {
		h1 {
			color: #222;
		}
		h2 {
			color: #666;
		}
	}
	h1 {
		margin: 0;
		padding: 0;
		font-size: 38px;
		line-height: 1em;
		font-weight: 400;
	}
	h2 {
		text-align: left;
		margin: 0;
		padding: 0;
		position: relative;
		left: 24px;
		line-height: 1em;
		font-family: $primary-font, serif;
		font-weight: 400;
		font-size: 28px;
		color: #6e6e6e;
		border-bottom: 0;
	}
}

/*
.container {
	max-width: $container-width;
	width: $container-width;
	padding: $container-padding;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
*/
/*
.container.condensed {
	max-width: $container-width;
	width: $container-w#idth;
	padding: 0; 
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
*/

/* Tables */
table {
	font-size: 0.9em;
	line-height: 0.9em;
}

/* Content */
.article {
	border: 1px solid $inner-border;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	.title {
		height: 20px;
		background-image: url('../images/heading-bg.gif');
		color: #fff;
		padding: 0;
		margin: 0;
		padding: 5px;
		padding-left: 6px;
		padding-right: 6px;
		h5 {
			font-size: 10pt;
			padding: 0;
			margin: 0;
			font-weight: 700;
		}
	}
	.content {
		padding: 10px;
	}
}
